.fotos{
    position:relative;
    background-color:black;
}

    .fotos .list-image {
        margin-left: 200px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

.fotos .list-image li img{
    position:relative;
    width:500px;
    height:650px;
}